.relative {
  position: relative;
}
.object-cover {
  object-fit: cover;
}
.w100 {
  width: 100%;
}
.w50 {
  width: 50%;
}
.h100 {
  height: 100%;
}
.scroll {
  overflow: scroll;
}
.ma {
  margin: auto;
}
.mta {
  margin-top: auto;
}
.mla {
  margin-left: auto;
}
.error-color {
  color: red;
}
.hide-display {
  display: none;
}
.bc2 {
  background-color: #1E1E1E;
}