[mysqld]
sql_mode=NO_ENGINE_SUBSTITUTION
character-set-server=utf8mb4
collation-server=utf8mb4_bin

# 一般クエリログ
general_log=1
general_log_file="/var/log/mysql/sql.log"
log_output=FILE

# バイナリログ
log_bin="/var/log/mysql/bin.log"
log_bin_index="/var/log/mysql/bin.list"
max_binlog_size=10M
expire_logs_days=1

# スロークエリログ
slow_query_log=1
slow_query_log-file="/var/log/mysql/mysql-slow.sql"
long_query_time=1
log_queries_not_using_indexes=1
log_slow_admin_statements=1

# エラーログ
log_error="/var/log/mysql/mysqld.log"

[client]
default-character-set=utf8mb4
